{{! this file defines pages to be included in the menu of template, these could be about, contacts, etc.  }}

<li><a href="/" class="dn-ajx-link">Home</a></li>
<li><a href="/about" class="dn-ajx-link">About</a></li>